@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

@import 'tailwindcss';

@theme {
  /* Typography */
  --font-red-hat-display: 'Red Hat Display', sans-serif;
  --text-64: 64px;
  --text-40: 40px;
  --text-18: 18px;
  --text-16: 16px;

  /* ## Colors */
  --color-bg-color: #f6f5f6;

  --color-white: #fafafa;

  --color-cyan-600: #4d96a9;
  --color-cyan-300: #8fe3f9;

  --color-purple-600: #855fb1;
  --color-purple-300: #d9b8ff;

  --color-slate-900: #28283d;
  --color-slate-600: #87879d;
  --color-slate-300: #d1d1df;

  /* --shadow-card: 40px 60px 50px -47px rgba(72, 85, 106, 0.25); */

  --spacing-1400: 112px;
  --spacing-1000: 80px;
  --spacing-900: 72px;
  --spacing-800: 64px;
  --spacing-700: 56px;
  --spacing-500: 40px;
  --spacing-400: 32px;
  --spacing-300: 24px;
  --spacing-200: 16px;
  --spacing-100: 8px;
  --spacing-50: 4px;

  --breakpoint-xs: 375px;
  --breakpoint-md: 768px;
  --breakpoint-xl: 1440px;

  /* --grid-row-auto: minmax(0, 1fr); */
}

body {
  background-color: var(--color-bg-color);
  /* color: var(--color-white); */
}

/* bg-[url(/assets/mobile/image-footer.jpg)] md:bg-[url(/assets/tablet/image-footer.jpg)] xl:bg-[url(/assets/desktop/image-footer.jpg)] bg-cover bg-position-[center_top] bg-no-repeat" */

@layer utilities {
  .text-preset-1 {
    font-family: var(--font-red-hat-display);
    font-size: var(--text-64);
    font-weight: 900;
    line-height: 1.1;
  }
  .text-preset-2 {
    font-family: var(--font-red-hat-display);
    font-size: var(--text-40);
    font-weight: 900;
    line-height: 1.1;

    @media (min-width: 768px) {
      font-size: 48px;
    }
    @media (min-width: 1440px) {
      font-size: var(--text-64);
    }
  }

  .text-preset-2_1 {
    font-family: var(--font-red-hat-display);
    font-size: 32px;
    font-weight: 900;
    line-height: 1.1;
    @media (min-width: 768px) {
      font-size: 36px;
    }
    @media (min-width: 1440px) {
      font-size: var(--text-40);
    }
  }
  .text-preset-2_2 {
    font-family: var(--font-red-hat-display);
    font-size: 48px;
    font-weight: 900;
    line-height: 1.1;
  }
  .text-preset-3 {
    font-family: var(--font-red-hat-display);
    font-size: var(--text-16);
    font-weight: 900;
    line-height: 1.1;
    letter-spacing: 0.25em;
    text-transform: uppercase;
  }
  .text-preset-3_1 {
    font-family: var(--font-red-hat-display);
    font-size: 12px;
    font-weight: 900;
    line-height: 1.1;
    letter-spacing: 0.33em;
    text-transform: uppercase;
    text-align: center;
    @media (min-width: 768px) {
      font-size: 14px;
      letter-spacing: 0.29em;
    }
    @media (min-width: 1440px) {
      font-size: var(--text-16);
      letter-spacing: 0.25em;
    }
  }
  .text-preset-4 {
    font-family: var(--font-red-hat-display);
    font-size: var(--text-18);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.01em;
  }
  .text-preset-5 {
    font-family: var(--font-red-hat-display);
    font-size: var(--text-16);
    font-weight: 900;
    line-height: 1.5;
  }
  .text-preset-6 {
    font-family: var(--font-red-hat-display);
    font-size: var(--text-16);
    font-weight: 500;
    line-height: 1.5;
    text-align: center;

    @media (min-width: 1440px) {
      font-size: 18px;
      letter-spacing: 0.01em;
    }
  }
  .text-preset-7 {
    font-family: var(--font-red-hat-display);
    font-size: var(--text-16);
    font-weight: 500;
    line-height: 1.5;
    text-align: center;

    @media (min-width: 1440px) {
      font-size: 18px;
      letter-spacing: 0.01em;
      text-align: start;
    }
  }

  .bg-decor {
    background-image: url('/assets/mobile/image-footer.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }

  @media (min-width: 768px) {
    .bg-decor {
      background-image: url('/assets/tablet/image-footer.jpg');
    }
  }
  @media (min-width: 1440px) {
    .bg-decor {
      background-image: url('/assets/desktop/image-footer.jpg');
    }
  }
}
